@media screen and (max-width:1000px) {
    p {
        line-height: 1.7;
        color: green;
    }
    .mountain{
        width: 70%;
        height: 60%;
    }
    .os {
        width: auto;
        /* font-size: 16px; */
    }

    .skill-row {
        width: 80%;
        /* background-color: red; */
        /* font-size: 14px; */
    }
    .skill-row .computer {
        /* margin-right: 20px; */
    }

    .btn {
        font-size: 13px;

    }
    .copyright{
        font-size: 10px;
        color: rgb(173, 173, 173);
    }

    .contact-message {
        width: auto;
        /* font-size: 12px; /
        margin: 40px 15px;*
        margin: 40px auto;*/
        border:1px solid black;
      }
}

/*@media screen and (max-width:900px) {
 
}*/
