* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: rgb(245, 245, 70);
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: normal;
}

p {
  color: #FFF;
  font-weight: bold;
  line-height: 2;
}

a {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: lightgreen;
}

h2 {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;

}

h3 {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #0B0C10;
  position: relative;
  padding-top: 100px;
  height: 39.45rem;
}
.title-text{
  /* background-color: green; */
}
.mountain{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.middle-container {
  background-color: #1F2833;
  /* margin: 100px 0; */
}

.os {
  width: 40%;
  margin: auto;
}

.bottom-container {
  background-color: #0B0C10;
  padding: 50px 0 20px;
}

hr {
  border-style: dotted;
  /* border-radius: 360px; */
  width: 10%;
  border-color: grey;
  border-top: none;
  border-width: 7px;
  margin: 50px auto 50px auto;

}

.profile-img {
  margin-top: 70px;
  margin-bottom: 0;
  border-radius: 360px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer {
  width: 25%;
  float: left;
  margin-top: 10px;
}

.computer-text {
  margin-left: 180px;
  margin-bottom: 0;
}

.chilli {
  width: 25%;
  float: right;
  margin-left: 3px;
}

.pro {
  text-decoration: underline;
  margin-right: 0px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  padding: 10px 20px;
  background-color: rgb(170, 170, 9);
  border-radius: 5px;
}

.btn:hover {
  background-color: green;
  color: #FFF;

}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  margin-top: 10px;
}